.header-nav li {
	display: inline-block;
}
.header-nav li a, .header-nav li a:visited {
	color: #fff;
	text-decoration: none;
	display: block;
}
.header-nav li:hover {
	background: #487922;
}
.header-nav li a {
	padding: 15px 25px 15px;
}